.editor-group-watermark {
  max-width: 500px !important;
  padding-left: 1em;
  padding-right: 1em;
}
.editor-group-watermark .letterpress {
  background-image: url("https://raw.githubusercontent.com/oddinary/ProgrammingVTuberLogos/main/VSCodeKR/VSCode-Thick.png") !important;
  aspect-ratio: 8/5 !important;
}
